name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build IMG
      run: docker build -t linuxgui .
    - name: login
      run: docker logout; docker login
    - name: push
      run: docker tag linuxgui broyn/linuxgui:latest && docker push broyn/linuxgui:latest
  
