name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PAT }}
    
    - name: Build IMG
      run: docker build -t linuxgui .
    
    - name: Tag and push
      run: |
        docker tag linuxgui broyn/linuxgui:latest
        docker push broyn/linuxgui:latest
